# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Database
instance/
database.db

# Uploads
static/uploads/*
!static/uploads/.gitkeep

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Large Datasets
dataset/
temp_datasets/
/garba*
/Garba*
